ci:
  autoupdate_schedule: monthly
  skip:
    - dprint # dprint does not work offline https://github.com/dprint/dprint/issues/895
    - actionlint
    - cargo-clippy
    - cargo-fmt
    - renovate-config-validator
    - tombi-format

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c # frozen: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: trailing-whitespace
        exclude: \.snap$
  - repo: https://github.com/asottile/pyupgrade
    rev: 75992aaa40730136014f34227e0135f63fc951b4  # frozen: v3.21.2
    hooks:
      - id: pyupgrade
        args: [--py311-plus]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 5ba58aca0bd5bc7c0e1c0fc45af2e88d6a2bde83  # frozen: v0.14.10
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: https://github.com/crate-ci/typos
    rev: b31d3aa6e8e43e6a9cf7a1d137baf189dec0922b  # frozen: v1
    hooks:
      - id: typos
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: a66e98df7b4aeeb3724184b332785976d062b92e  # frozen: v1.19.1
    hooks:
      - id: mypy
  - repo: https://github.com/scop/pre-commit-shfmt
    rev: 2a30809d16bc7a60d9b97353c797f42b510d3368 # frozen: v3.12.0-2
    hooks:
      - id: shfmt
  - repo: https://github.com/tombi-toml/tombi-pre-commit
    rev: 85439ee9dc3bae4867e8db7a0fdb3b7e5e8299b7  # frozen: v0.6.47
    hooks:
      - id: tombi-format
  - repo: https://github.com/AndrejOrsula/pre-commit-cargo
    rev: 33ae92ed9b1a4392c8ac5fdef46887640d866e1e  # frozen: 0.5.0
    hooks:
      - id: cargo-fmt
      - id: cargo-clippy
        args: [
          "--all-targets",
          "--all-features",
          "--fix",
          "--allow-staged",
          "--allow-dirty",
        ]
  - repo: https://github.com/zizmorcore/zizmor-pre-commit
    rev: ea18690d7f8e44203c9efd7bc6229447d02e3951  # frozen: v1.19.0
    hooks:
      - id: zizmor
  - repo: https://github.com/rhysd/actionlint
    rev: 0933c147c9d6587653d45fdcb4c497c57a65f9af  # frozen: v1.7.10
    hooks:
      - id: actionlint
        additional_dependencies:
          - "github.com/wasilibs/go-shellcheck/cmd/shellcheck@v0.11.1"
        exclude: .github/workflows/release.yml # Autogenerated file
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: a0a925d223e85973dce85ce780e322edbf2750e5  # frozen: 42.71.0
    hooks:
      - id: renovate-config-validator
        args: [--strict]
  - repo: https://github.com/oxipng/oxipng
    rev: 58eec39cc8eb4c4c553b593c887bd0cc075e27eb  # frozen: v10.0.0
    hooks:
      - id: oxipng
        args: ["-o", "max", "--strip", "safe", "--alpha"]
  - repo: https://github.com/UnknownPlatypus/jpegoptim-py
    rev: a3e484551de3e40f65c72a62621ad5578d650757  # frozen: V1.5.6.1
    hooks:
      - id: jpegoptim
        args: [--strip-all, --all-progressive, --max=85, --threshold=3]
  - repo: https://github.com/trim21/dprint-pre-commit
    rev: v0.51.1.0
    hooks:
      - id: dprint
        exclude: ".pre-commit-config.yaml"
