[package]
name = "djangofmt"
version = "0.2.2"
authors = ["Thibaut Decombe <thibaut.decombe@gmail.com>"]
# Please update rustfmt.toml when bumping the Rust edition
edition = "2024"
exclude = ["/tests"]
license = "MIT"
publish = true
repository = "https://github.com/UnknownPlatypus/djangofmt"
rust-version = "1.85"
description = "A fast, HTML aware, Django template formatter, written in Rust."

[dependencies]
dprint_plugin_markup = { git = "https://github.com/UnknownPlatypus/markup_fmt", rev = "v0.22.0.0" }
malva = { version = "0.15.0", features = ["config_serde"] }
markup_fmt = { git = "https://github.com/UnknownPlatypus/markup_fmt", rev = "821dd7458ae7415239b28fbab165a7a47dcbfec3" }

clap = { version = "4.5.38", features = ["derive", "wrap_help"] }
clap_complete_command = "0.6.1"
rayon = "1.10.0"
serde_json = "1.0"

# Logging
colored = "3.0.0"
tracing = "0.1"
tracing-subscriber = "0.3"
tracing-tree = "0.4.0"

# Others
derive_more = { version = "2.0.1", features = ["from", "display"] }

[dev-dependencies]
insta-cmd = "=0.6.0"

[profile.release]
# See python/benchmark_cargo_profiles.py
lto = "thin"
strip = true

# The profile that 'dist' will build with
[profile.dist]
inherits = "release"

[lints.clippy]
pedantic = { level = "deny", priority = -1 }
nursery = { level = "deny", priority = -1 }
unwrap_used = "deny"
missing_errors_doc = "allow"
