@import 'tailwindcss';
@plugin 'daisyui';
@plugin 'daisyui/theme' {
    name: 'light';
    default: true;
    prefersdark: false;
    color-scheme: 'light';
    --color-primary: oklch(35% 0.12 155);
    --color-primary-content: oklch(98% 0.02 155);
    --color-secondary: oklch(65% 0.18 150);
    --color-secondary-content: oklch(20% 0.05 155);
    --color-accent: oklch(85% 0.15 85);
    --color-accent-content: oklch(30% 0.1 85);
    --color-neutral: oklch(25% 0.02 280);
    --color-neutral-content: oklch(95% 0.01 280);
    --color-base-100: oklch(98% 0 0);
    --color-base-200: oklch(95% 0 0);
    --color-base-300: oklch(91% 0 0);
    --color-base-content: oklch(0% 0 0);
    --color-info: oklch(70% 0.15 240);
    --color-info-content: oklch(25% 0.05 240);
    --color-success: oklch(50% 0.14 155);
    --color-success-content: oklch(25% 0.05 145);
    --color-warning: oklch(85% 0.18 85);
    --color-warning-content: oklch(30% 0.05 85);
    --color-error: oklch(65% 0.22 25);
    --color-error-content: oklch(98% 0.02 25);
    --radius-selector: 0.25rem;
    --radius-field: 1rem;
    --radius-box: 0.25rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 2px;
    --depth: 0;
    --noise: 0;
}

@plugin 'daisyui/theme' {
    name: 'dark';
    default: false;
    prefersdark: true;
    color-scheme: 'dark';
    --color-primary: oklch(50% 0.14 155);
    --color-primary-content: oklch(15% 0.05 155);
    --color-secondary: oklch(60% 0.12 160);
    --color-secondary-content: oklch(10% 0.05 160);
    --color-accent: oklch(75% 0.15 85);
    --color-accent-content: oklch(20% 0.05 85);
    --color-neutral: oklch(20% 0.03 280);
    --color-neutral-content: oklch(85% 0.02 280);
    /* dracula */
    --color-base-100: oklch(28.822% 0.022 277.508);
    --color-base-200: oklch(26.805% 0.02 277.508);
    --color-base-300: oklch(24.787% 0.019 277.508);
    --color-base-content: oklch(97.747% 0.007 106.545);
    /* end dracula */
    --color-info: oklch(65% 0.15 240);
    --color-info-content: oklch(15% 0.05 240);
    --color-success: oklch(50% 0.14 155);
    --color-success-content: oklch(15% 0.05 145);
    --color-warning: oklch(80% 0.18 85);
    --color-warning-content: oklch(20% 0.05 85);
    --color-error: oklch(60% 0.22 25);
    --color-error-content: oklch(95% 0.02 25);
    --radius-selector: 0.25rem;
    --radius-field: 1rem;
    --radius-box: 0.25rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 2px;
    --depth: 0;
    --noise: 0;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button,
input[type='number'] {
    -webkit-appearance: none;
    -moz-appearance: textfield !important;
    margin: 0;
}
.monaco-editor {
    --vscode-editor-background: var(--color-base-300) !important;
    --vscode-editorGutter-background: var(--color-base-300) !important;
    --vscode-editor-foreground: var(--color-base-content) !important;
    --vscode-editorGutter-foreground: var(--color-base-content) !important;
    --vscode-editorWidget-background: var(--color-base-200) !important;
    --vscode-editorWidget-foreground: var(--color-base-content) !important;
    --vscode-input-foreground: var(--color-base-content) !important;
    --vscode-input-background: var(--color-base-100) !important;
}
