---
---
{import.meta.env.DEV && (
    <label class="swap link relative">
      <input type="checkbox" />
      <div class="toast swap-on bottom-8 right-8">
          <div class="alert alert-info">
              <pre data-json-signals></pre>
          </div>
      </div>
      <div class="swap-off">Show signals</div>
    </label>
)}
