---
import DevDatastarSignals from "./DevDatastarSignals.astro";
import GithubIcon from "./icons/GithubIcon.astro";
---
<footer class="bg-primary text-primary-content text-xs px-3 py-1 flex justify-between items-center font-mono">
    <div class="flex items-center gap-3">
        <span id="format-duration" data-text="`Formatted in ${$formatDuration.toFixed(1)}ms!`"></span>
    </div>
    <div class="flex gap-4 opacity-80">
        <DevDatastarSignals />

        <a
            class="flex gap-2 items-center"
            href="https://github.com/UnknownPlatypus/djangofmt#djangofmt"
            target="_blank"
            rel="noopener noreferrer"
        >
            View on GitHub
            <GithubIcon />
        </a>
    </div>
</footer>
