# Run `cargo bloat` for finding out what takes most of the space in your executable.
name: Cargo Bloat

on:
  workflow_dispatch:
    inputs:
      branch:
        description: "Branch name"
        required: true
        default: "main"

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  bloat:
    name: Cargo Bloat
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ github.event.inputs.branch }}
          persist-credentials: false
      - uses: cargo-bins/cargo-binstall@11f258db84cec40fc56c7b10bfc37c31dd9a3c98 # v1.17.3
      - run: cargo binstall --no-confirm cargo-bloat
      - name: Run
        env:
          RUSTFLAGS: "-C debuginfo=2 -C strip=none"
        shell: bash
        run: |
          {
            echo "# Bloat Summary"
            echo
            echo "## Largest functions"
            echo '```'
            echo
            cargo bloat --release -p djangofmt -n 15 2> /dev/null
            echo
            echo '```'
            echo
            echo "## Largest crates"
            echo '```'
            echo
            cargo bloat --release -p djangofmt --crates -n 15 2> /dev/null
            echo
            echo '```'
          } >> "$GITHUB_STEP_SUMMARY"
