# This workflow is based on the example provided by CodSpeedHQ
# See https://codspeed.io/docs/guides/how-to-benchmark-rust-code
name: "[djangofmt] CodSpeed Benchmarks"

on:
  push:
    branches:
      - "main"
  pull_request:
    paths:
      - crates/**
      - Cargo.toml
      - Cargo.lock
      - rust-toolchain.toml
      - .github/workflows/codspeed.yml
  # `workflow_dispatch` allows CodSpeed to trigger backtest
  # performance analysis in order to generate initial data.
  workflow_dispatch:

permissions: # optional for public repositories
  contents: read # required for actions/checkout
  id-token: write # required for OIDC authentication with CodSpeed

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  benchmarks:
    name: Run benchmarks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Setup rust toolchain, cache and cargo-codspeed binary
        uses: moonrepo/setup-rust@ede6de059f8046a5e236c94046823e2af11ca670 # v1.2.2
        with:
          channel: stable
          cache-target: release
          bins: cargo-codspeed

      - name: Build the benchmark target(s)
        run: cargo codspeed build -p djangofmt_benchmark --profile release
      - name: Run the benchmarks
        uses: CodSpeedHQ/action@9a74b6ba663684052277e8f342b5eb99c7442a03 # v4.10.5
        with:
          mode: simulation
          run: cargo codspeed run -p djangofmt_benchmark
